**/.DS_Store
/.vscode

/.cache
/.idea
/venv
instance

~
readme.md
notes.md


**/__pycache__
*.pyc
__pycache__/
.pytest_cache/

.coverage
htmlcov/

dist/
build/
*.egg-info/


open_ai.py
config.py
**/index copy.html
app/static/js/disclosure-button.js
app/static/js/styled-radio-buttons.js
app/static/css/styled-radio-buttons.css
app/static/css/inclusive-menu-button.css
app/templates/table_row.html
