/* html {

    height: 100vh;
    overflow: hidden;

} */

* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* body {
    color: var(--foreground-text-default);
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    width: 100vw;
    padding: 0;
    margin: 0 !important;
} */

body {
    height: 100%;
    background: rgb(33, 33, 84);
    background-image: var(--bs-gradient);
    width: 100%;
    padding: 0;
    margin: 0 !important;
    overflow-x: hidden;
}

main {
    padding-top: 5vh;
    height: 100%;
}

/* pre {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    overflow-wrap: normal;
} */

.table-container {
    overflow: scroll;
    min-height: 60vh;
    max-height: 80vh;
}

header,
table caption {
    color: rgb(221, 226, 233);
}

.empty-state,
table:empty {
    display: none;
}

table:empty+.empty-state {
    display: block;
}

td,
th {
    padding: .75rem 1rem !important;
    min-width: 150px;
}


tbody th,
tbody td {
    min-height: max-content;
    /* max-width: 450px; */
}

tr .name-post_title {
    min-width: 350px;
}

tr .text-one-line {
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    min-width: 175px;
}

.text-short {
    min-width: 175px;
}

tr .text-long {
    /* --max-lines: 4; */

    min-width: 400px;
    /* max-width: 400px; */
    /* 
    overflow-y: hidden;
    text-overflow: ellipsis;

    max-height: calc(1.5rem * var(--max-lines));
    -webkit-box-orient: vertical;
    display: block; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: var(--max-lines); */
}