:root {
    --bg-dark-overlay: rgba(16, 19, 22, 0.75);
    --panel-container-bg-rgb: 25, 27, 45;

    --panel-bg-darker-rgb: 22, 25, 30;
    --panel-bg-rgb: 33, 37, 41;
    --panel-bg-lighter-rgb: 43, 47, 51;

    --btn-color-ltcolor-rgb: 199, 206, 255;
}


* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #282660 0%, #251a54 100%);
    /* background: rgb(33, 33, 84);
    background-image: var(--bs-gradient); */
    width: 100%;
    padding: 0;
    margin: 0 !important;
    overflow-x: hidden;
}

.navbar {
    backdrop-filter: blur(8px);
}

main {
    padding-top: 5vh;
    height: 100%;
}

.visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.overscroll-contain {
    overscroll-behavior: contain;
}

/* Buttons */

.btn {
    --btn-color: var(--bs-body-color);
    --hover-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    transition: color .08s ease-in-out, background-color .08s ease-in-out, border-color .08s ease-in-out, box-shadow .08s ease-in-out;
    border-radius: var(--bs-border-radius-sm);
}

.btn-light-soft,
.btn-outline-light {
    --btn-color: #f8f9fa;
    --hover-color: #000;
    --hover-bg-color: #e5edfff0;
    --btn-border-color: #f8f9fae0;

    --bs-btn-color: var(--btn-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--btn-border-color);

    --bs-btn-hover-border-color: var(--hover-bg-color);
    --bs-btn-active-border-color: var(--btn-border-color);

    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;

    /* --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
}

.btn-outline-light {
    --bs-btn-hover-color: var(--hover-color);
    --bs-btn-hover-bg: var(--hover-bg-color);

    --bs-btn-active-color: var(--hover-color);
    --bs-btn-active-bg: #f8f9fad0;
}

.btn-light-soft {
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: transparent;

    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: transparent;
}

.btn-icon {
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: transparent;
}

.btn-light-soft:hover,
.btn-icon:hover,
.btn-icon:active {
    box-shadow: inset 0px 0px 100px rgba(255, 255, 255, 0.30);
}

.btn-outline-light.soft:hover,
.btn.btn-light.soft:hover {
    --bs-btn-font-weight: 450;
}

.btn.icon-radio {
    width: 150px !important;
    min-height: fit-content;
    padding: .5rem;
    padding-top: .75rem;

    border-width: .2rem;
    border-radius: .1rem;

    --btn-color: #b3bbc3;
    --hover-color: rgb(var(--btn-color-ltcolor-rgb));
    --btn-border-color: var(--hover-color);

    --bs-btn-color: var(--btn-color);
    --bs-btn-bg: rgba(var(--panel-bg-darker-rgb), .65);
    --bs-btn-border-color: transparent;

    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;

    box-shadow: 0px 0px 0px 1px rgba(var(--btn-color-ltcolor-rgb), 0.40);
}

.btn.icon-radio:hover,
.btn.icon-radio:active,
.btn-check:checked+.btn {
    --bs-btn-color: rgb(var(--btn-color-ltcolor-rgb)) !important;
    --bs-body-color: var(--bs-btn-color) !important;
    --bs-btn-bg: rgba(var(--panel-bg-darker-rgb), .9) !important;
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-border-color: rgba(var(--btn-color-ltcolor-rgb), 0.40);
}

.btn-check:checked+.btn:not(:focus-visible) {
    box-shadow: unset;
}

.btn-check:checked+.btn {
    border-color: rgb(var(--btn-color-ltcolor-rgb)) !important;
}

/* .btn-check:focus+.btn:focus-visible {
    box-shadow: 0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color) !important;
} */


/* DATAVIEW SECTION */

.dataview-frame {
    padding: 1.75rem;
    background: #131618b0;
}

.view-border {
    /* border-color: #181b1ec0 !important; */
    border-color: #0e0f12c0 !important;
}


/* DATAVIEW -- View Controls */

#data-view-controls {
    /* background: #212529c0; */
    background: #101316c6;
}

#data-view-controls>* {
    padding: 1rem;
}

/* Saved Views Dropdown */

#saved-views-dropdown {
    max-width: 250px;
    min-width: 120px;
}

#saved-views-dropdown>* {
    width: 100%
}

#saved-views-dropdown .list-group {
    position: absolute;
    z-index: 10;
}

#saved-views-dropdown .dropdown-toggle::after {
    margin-inline-start: auto;
}

#saved-views-dropdown>button {
    padding-left: calc(var(--bs-btn-padding-x) + .25rem) !important;
}

#views-menu>button[aria-checked="true"] {
    --bs-list-group-active-bg: #48459f;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-bg);
}


/* DATAVIEW -- TABLE */


.table-container {
    overflow: scroll;
    overscroll-behavior: contain;
    min-height: min-content;
    max-height: 70vh;
}

header,
table caption {
    color: rgb(221, 226, 233);
}

table {
    --first-column-width: ;
    border-collapse: separate;
    border-spacing: 0;
    z-index: -5;
}


.table-dark {
    --table-bg-rgb: var(--panel-bg-rgb);
    --table-bg-lighter-rgb: 43, 47, 51;
    --table-bg-lightest-rbg: 73, 77, 81;

    --table-active-rgb: 55, 59, 62;
    --table-active-lighter-rgb: 65, 69, 72;

    --bs-table-bg: rgba(var(--table-bg-rgb), .9);

    --bs-table-border-color: #4d5154f0;
    --bs-table-active-bg: rgba(var(--table-active-rgb), 0.94);
    /* --bs-table-hover-bg: #323539f0; */
    --bs-table-hover-bg: rgba(var(--table-bg-lighter-rgb), .9);
}

.table-dark tr:hover .table-active {
    --bs-table-hover-bg: rgba(var(--table-active-lighter-rgb), 0.941);
}

.table-dark .item-actions .btn-dark {
    --btn-color: rgb(199, 206, 255);
    --btn-bg: rgba(var(--table-bg-rgb), .4);
    --btn-hover-bg: rgba(var(--table-bg-rgb), .9);

    --bs-btn-color: var(--btn-color);
    --bs-btn-hover-color: var(--btn-color);
    --bs-btn-active-color: var(--btn-color);

    --bs-btn-bg: var(--btn-bg);
    --bs-btn-border-color: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-border-color: transparent;

    --bs-btn-active-bg: var(--btn-hover-bg);
    --bs-btn-hover-bg: var(--btn-hover-bg);
}

/* -- */

thead .border-bottom {
    --bs-border-width: 4px
}

td,
th {
    padding: .75rem 1rem !important;
    min-width: 150px;
}

tbody th,
tbody td {
    min-height: max-content;
    /* max-width: 450px; */
}

tr .name-post_title {
    min-width: 350px;
}

tr .text-one-line {
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    min-width: 175px;
}

.text-short {
    min-width: 175px;
}

tr .text-long {
    min-width: 400px;
}


/* Table -- frozen header and first column: */

.freeze thead,
tr>th {
    position: sticky;
}

.freeze thead {
    top: 0;
    z-index: 2;
}

.freeze tr>th {
    left: 0;
    z-index: 1;
}

.freeze tr:nth-child(1) {
    left: 0;
    z-index: 1;
}

.freeze thead tr>th:first-child {
    z-index: 3;
}


/* FILTER VIEW/EDIT */

.filter-group {
    border-color: rgba(245, 245, 245, 0.7) !important;
    border-width: 1px !important;
    border-style: solid;
}

.g-col-outer {
    border-radius: var(--bs-border-radius-sm) !important
}

.group-inner .filter-group {
    /* border-color: whitesmoke !important; */
    /* border-width: 1px !important;
    border-style: solid; */
    background-color: rgba(245, 245, 245, 0.25);
}

.row.outer-row {
    --padding-y: .5rem !important;
    --bs-gutter-x: 0.5rem;

    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    margin-top: calc(-1* var(--bs-gutter-y)) !important;
    margin-right: calc(-.5* var(--bs-gutter-x)) !important;
    margin-left: calc(-.5* var(--bs-gutter-x)) !important;
}

.filter-group .g-col-inner {
    --margin-y: .5rem !important;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y)
}

.filter-button.row .col {
    --margin-y: .5rem !important;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);

    display: inline;

}

.row-cap.g-col-outer,
.row-cap.g-col-inner {
    flex: 0 0 auto !important;
    width: auto !important;
}

.row-cap.g-col-inner {
    display: inline !important;
}

.row-cap.g-col-inner>* {
    --padding-y: .5rem !important;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

}


/* MODALS */

.modal-backdrop.show {
    opacity: 0.75;
}

.modal .modal-content {
    --modal-bg: rgb(27, 25, 59);

    border-radius: var(--bs-border-radius-xl);
    border-color: var(--modal-bg);
    border-width: .1rem;
    /* background: rgba(var(--panel-container-bg-rgb), .95); */
    background: var(--modal-bg);
}

.modal-content-bg {
    --modal-content-px: 2.75rem;
    /* background: rgba(16, 18, 22, 0.85); */
    background: rgba(10, 12, 21, 0.9);
    padding-left: var(--modal-content-px);
    padding-right: var(--modal-content-px);
}


/* -- Dataview Settings */

@media (min-width: 576px) {
    .modal.dataview-settings-modal {
        --bs-modal-margin: 1.75rem;
        margin-top: 6rem;
        margin-bottom: calc(var(--bs-modal-margin) * 4);
    }
}

#settingsModal-layoutSettings #layoutRadiosContainer {
    background: rgba(var(--panel-bg-rgb), .99);
    column-gap: 2.5rem;
}

#table-settings-form fieldset.dropdown-menu.show {
    transform: translate3d(0px, 19.3333px, 0px) !important;
}

.modal-content .accordion-flush,
.modal-content .accordion {
    --accordion-px: 2.5rem;

    --bs-accordion-btn-padding-x: var(--accordion-px);
    --bs-accordion-body-padding-x: var(--accordion-px);
    --bs-accordion-body-padding-y: var(--accordion-px);
    --bs-accordion-btn-bg: rgb(var(--panel-bg-rgb));
    --bs-accordion-bg: rgb(var(--panel-bg-darker-rgb));
    --bs-accordion-border-color: var(--bg-dark-overlay);
    --bs-accordion-border-width: .65rem;
}

.modal-content .accordion-flush .accordion-item {
    border-width: 0;
}

.accordion.vstack>* {
    border-radius: var(--bs-border-radius-sm);
}

#viewSettingsAccordion {
    --bs-accordion-active-color: rgb(var(--btn-color-ltcolor-rgb));
    --bs-accordion-active-bg: rgba(var(--panel-bg-lighter-rgb), .9);
}

#viewSettingsAccordion .accordion-button {

    &:focus-visible {
        --bs-accordion-btn-focus-box-shadow: inset 0 0 0 0.25rem var(--bs-focus-ring-color);
        outline: 0;
        box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }

    &:focus:not(:focus-visible) {
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
        outline: 0;
        box-shadow: none;
    }

    &:active {
        outline: none;
    }

    &:hover {
        background-color: rgba(var(--panel-bg-lighter-rgb), .9);
    }

    &:not(.collapsed):not(:focus-visible) {
        box-shadow: none;
    }
}

#viewSettingsAccordion .form-button {
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
}

#viewSettingsAccordion .form-button button {
    width: 150px;
}