* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* body {
    color: var(--foreground-text-default);
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    width: 100vw;
    padding: 0;
    margin: 0 !important;
} */

body {
    height: 100%;
    background: linear-gradient(to bottom, #282660 0%, #251a54 100%);
    /* background: rgb(33, 33, 84);
    background-image: var(--bs-gradient); */
    width: 100%;
    padding: 0;
    margin: 0 !important;
    overflow-x: hidden;
}

main {
    padding-top: 5vh;
    height: 100%;
}

.overscroll-contain {
    overscroll-behavior: contain;
}

.btn {}

.btn-outline-light.soft {
    --hover-color: #e5edfff0;
    --bs-btn-hover-bg: var(--hover-color);
    --bs-btn-hover-border-color: var(--hover-color);
    --bs-btn-active-bg: #f8f9fad0;
    --bs-btn-active-border-color: #f8f9fae0;

    transition: color .10s ease-in-out, background-color .10s ease-in-out, border-color .10s ease-in-out, box-shadow .10s ease-in-out;
}

.btn-outline-light.soft:hover {
    --bs-btn-font-weight: 500;
}

.dataview-frame {
    padding: 1.75rem;
    background: #131618b0;
}

.view-border {
    /* border-color: #181b1ec0 !important; */
    border-color: #0e0f12c0 !important;
}

/* VIEW CONTROLS */

#data-view-controls {
    /* background: #212529c0; */
    background: #101316c6;
    /* border-bottom-width: .4rem !important; */
}

#data-view-controls>* {
    padding: 1rem;
}

/* Saved Views Dropdown */

#saved-views-dropdown {
    max-width: 250px;
    min-width: 120px;
}

#saved-views-dropdown>* {
    width: 100%
}

#saved-views-dropdown .list-group {
    position: absolute;
    z-index: 10;
}

#saved-views-dropdown .dropdown-toggle::after {
    margin-inline-start: auto;
}

#saved-views-dropdown>button {
    padding-left: calc(var(--bs-btn-padding-x) + .25rem) !important;
}

#views-menu>button[aria-checked="true"] {
    --bs-list-group-active-bg: #48459f;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-bg);
}


/* TABLE */

/* #dataview-main .view-border {
    border-top-width: .4rem !important;
} */

.table-container {
    overflow: scroll;
    overscroll-behavior: contain;
    min-height: min-content;
    max-height: 80vh;
}

header,
table caption {
    color: rgb(221, 226, 233);
}

table {
    --first-column-width: ;
    border-collapse: separate;
    border-spacing: 0;
    z-index: -5;
}

.table-dark {
    --bs-table-bg: #212529de;
    --bs-table-border-color: #4d5154f0;
    --bs-table-active-bg: #373b3ef0;
    --bs-table-hover-bg: #323539f0;
}

/* Table -- frozen header and first column: */

.freeze thead,
tr>th {
    position: sticky;
}

.freeze thead {
    top: 0;
    z-index: 2;
}

.freeze tr>th {
    left: 0;
    z-index: 1;
}

.freeze tr:nth-child(1) {
    left: 0;
    z-index: 1;
}

.freeze thead tr>th:first-child {
    z-index: 3;
}

/* -- */

td,
th {
    padding: .75rem 1rem !important;
    min-width: 150px;
}

thead .border-bottom {
    --bs-border-width: 4px
}

tbody th,
tbody td {
    min-height: max-content;
    /* max-width: 450px; */
}

tr .name-post_title {
    min-width: 350px;
}

tr .text-one-line {
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    min-width: 175px;
}

.text-short {
    min-width: 175px;
}

tr .text-long {
    /* --max-lines: 4; */

    min-width: 400px;
    /* max-width: 400px; */
    /* 
    overflow-y: hidden;
    text-overflow: ellipsis;

    max-height: calc(1.5rem * var(--max-lines));
    -webkit-box-orient: vertical;
    display: block; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: var(--max-lines); */
}

/* FILTER VIEW/EDIT */

.filter-group {
    border-color: rgba(245, 245, 245, 0.7) !important;
    border-width: 1px !important;
    border-style: solid;
}

.g-col-outer {
    border-radius: var(--bs-border-radius-sm) !important
}

.group-inner .filter-group {
    /* border-color: whitesmoke !important; */
    /* border-width: 1px !important;
    border-style: solid; */
    background-color: rgba(245, 245, 245, 0.25);
}

/* .group-inner .g-col-inner {

} */

/* .group-inner .row.outer-row {

} */



.row.outer-row {
    --padding-y: .5rem !important;
    --bs-gutter-x: 0.5rem;

    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    margin-top: calc(-1* var(--bs-gutter-y)) !important;
    margin-right: calc(-.5* var(--bs-gutter-x)) !important;
    margin-left: calc(-.5* var(--bs-gutter-x)) !important;
}

.filter-group .g-col-inner {
    --margin-y: .5rem !important;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y)
}

.filter-button.row .col {
    --margin-y: .5rem !important;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);

    display: inline;

}

.row-cap.g-col-outer,
.row-cap.g-col-inner {
    flex: 0 0 auto !important;
    width: auto !important;
}

.row-cap.g-col-inner {
    display: inline !important;
}

.row-cap.g-col-inner>* {
    --padding-y: .5rem !important;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

}