<form action="{{ url_for( 'update_list_settings' ) }}" method="POST" onsubmit="announceSave()" id="list-settings-form">
    {# CHECK: Need the onsubmit to announce save completed to live region? #}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4 p-0">
                <h2>Setting Group 1</h2>
                
                <br/>
                <br/>
                <h2>Setting Group 2</h2>
                <br/>
                <br/>

            </div>
        </div>
    </div>
</form>