{% from 'data_filters.html' import filter_group %}

<form action="{{ url_for( 'update_filters', view=views.current.name ) }}" method="POST" id="data-filters-form">
    {# TODO: Check accessibility of labeling for this setup #}

    <div class="container-fluid">
        {{ filter_group(filter_options=filter_options, job_fields=options.job_fields, filters_current=views.current.filters.saved) }}

    </div>

    {# <div>
        <button class="settings-btn btn btn-primary btn-lg px-4 mt-2" type="submit">Save</button> #}
    {# <button class="settings-btn btn btn-primary btn-lg px-4" onclick="submitForm()">Save</button> #}

    {#</div> #}
</form>