{% from 'general_components.html' import iconSvg %}
{% from 'form.html' import text_input %}

{% macro radio_icon_btn_input(name, id, svg_href, icon_w, icon_h, label_text, label_class='', checked=false) %}
<input type="radio" class="btn-check" name="{{ name }}" id="{{ id }}" value="{{ label_text|lower }}" autocomplete="off" {% if checked %}checked{% endif %}>
<label class="btn {{ label_class }}" for="{{ id }}">
    {{ iconSvg(svg_href, icon_w, icon_h) }}
    <span class="mt-2">{{ label_text }}</span>
</label>
{% endmacro %}

<form action="{{ url_for( 'update_view_basics', view=views.current.name) }}"
    method="POST" onsubmit="announceSave()" id="viewBasicForm" class="">
    {{ text_input(label='Name', id='viewName', name='name', value=views.current.name, container_class='mb-3 fs-4') }}
    <fieldset class="layout-radios">
        <legend class="mt-3 fs-4">
        Layout
        </legend>
    
            <div id="layoutRadiosContainer" class="d-flex justify-content-center p-4">

                {% set label_class = 'icon-radio d-flex flex-column align-items-center gx-2' %}
                {% set checkedTable = false %}
                {% set checkedList = false %}
                {% set checkedTable = true if views.current.layout == 'table' %}
                {% set checkedList = true if views.current.layout != 'table'  %}
                                
                <div>
                {{ radio_icon_btn_input(name='view_layout', id='tableLayoutRadio', svg_href='#svg-table', icon_w='40', icon_h='40', label_text='TABLE', label_class=label_class, checked=checkedTable) }}
                </div>
                <div>
                {{ radio_icon_btn_input(name='view_layout', id='listLayoutRadio', svg_href='#svg-list', icon_w='40', icon_h='40', label_text='LIST', label_class=label_class, checked=checkedList) }}
                </div>

            </div>
      
    </fieldset>
</form>