{% from 'modals.html' import dataview_settings_modal, confirmation_modal %}
{% from 'general_components.html' import iconBtnContent %}

{% if views.current.layout == 'list' %}
<div id="dataview-list">
</div>


{% else %}
<div id="dataview-table">
    {% include 'posts_table.html' %}
</div>

{% endif %}

{% call dataview_settings_modal(title='View Settings', id_post='layoutSettings') %}
<div class="modal-body px-5 py-4 modal-content-bg">
    <div class="modal-body-bg">
        <div class="accordion accordion-flush vstack gap-2" id="viewSettingsAccordion">
            <div class="accordion-item shadow">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#settingsView" aria-expanded="true" aria-controls="settingsView">
                        General
                    </button>
                </h2>
                <div id="settingsView" class="accordion-collapse collapse show" data-bs-parent="#viewSettingsAccordion">
                    <div class="accordion-body">
                        {% include 'dataview_form_basics.html' %}
                        <div class="form-button">
                            <button class="settings-btn btn btn-primary" type="submit"
                                form="viewBasicForm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item shadow">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#settingsLayout" aria-expanded="false" aria-controls="settingsFilters">
                        Layout Options
                    </button>
                </h2>
                <div id="settingsLayout" class="accordion-collapse collapse" data-bs-parent="#viewSettingsAccordion">
                    <div class="accordion-body">
                        <div id="tableSettings"
                            class="settings-layout {% if views.current.layout == 'list' %}d-none{% endif %}">
                            {% include 'dataview_table_settings.html' %}
                            <div class="form-button">
                                <button class="settings-btn btn btn-primary" type="submit"
                                    form="viewLayoutTableForm">Save</button>
                            </div>
                        </div>
                        <div id="tableSettings"
                            class="settings-layout {% if views.current.layout == 'table' %}d-none{% endif %}">
                            {% include 'dataview_form_list.html' %}
                            <div class="form-button">
                                <button class="settings-btn btn btn-primary" type="submit"
                                    form="viewBasicForm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item shadow">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#settingsFilters" aria-expanded="false" aria-controls="settingsFilters">
                        Filters
                    </button>
                </h2>
                <div id="settingsFilters" class="accordion-collapse collapse" data-bs-parent="#viewSettingsAccordion">
                    <div class="accordion-body">
                        {% include 'data_filters_form.html' %}
                        <div class="form-button">
                            <button class="settings-btn btn btn-primary" type="submit"
                                form="viewFiltersForm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item shadow">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#settingsSort" aria-expanded="false" aria-controls="settingsSort">
                        Sort
                    </button>
                </h2>
                <div id="settingsSort" class="accordion-collapse collapse" data-bs-parent="#viewSettingsAccordion">
                    <div class="accordion-body">
                        {% include 'dataview_form_sort.html' %}
                        <div class="form-button">
                            <button class="settings-btn btn btn-primary" type="submit" form="viewSortForm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer py-3 modal-content-bg modal-gradient-bg border-0 justify-content-between">
    <button class="btn btn-outline-danger my-3 mx-0" data-bs-target="#confirmModal-deleteConfirm"
        data-bs-toggle="modal">{{ iconBtnContent(icon_class='bi bi-trash3', text='Delete View') }}</button>
    <button type="button" class="btn btn-secondary my-3 mx-0" style="width: 150px;"
        data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}



{% call dataview_settings_modal(title='Filters', id_post='filters') %}
<div class="modal-body p-0 modal-content-bg">
    <div class="modal-body-bg p-4">
        {% include 'data_filters_form.html' %}
    </div>
</div>

<div class="modal-footer p-4 modal-content-bg">
    {# Later TODO: Add button to clear/reset all filters #}
    <button class="settings-btn btn btn-primary" type="submit" form="viewFiltersForm">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}


{% call confirmation_modal(title='Are You Sure?', id_post='deleteConfirm') %}

<div class="modal-body px-5 pb-0 pt-5 modal-content-bg text-center">
    <p class="fs-5">
        The following view will be deleted:
    </p>
    <p class="fs-3">{{ views.current.name | capitalize }}</p>
</div>
<div class="modal-footer py-5 border-0 modal-content-bg justify-content-evenly" style="column-gap: 2.5rem;">
    <form action="{{ url_for( 'delete_view', view=views.current.name) }}" method="POST"
        onsubmit="sendToLiveRegion('Delete request submitted.')">
        {# Later TODO: Check live region message - change? #}
        <button class="settings-btn btn btn-danger btn-lg w-200" type="submit">Delete</button>
    </form>
    <button type="button" class="btn btn-secondary btn-lg w-200" data-bs-dismiss="modal">Cancel</button>
</div>

{% endcall %}