{% macro group_op_element(is_group_level, select_class_row, div_class_inner, div_class_outer, current_group_op, name_prefix, id_post, is_empty=false, is_echo=false, div_style='width: 100px;') %}

{% if is_group_level %}
<div class="{{div_class_outer}}">
    <div class="row">
        <div class="{{ div_class_inner }}">
            {% if is_empty %}
            <div class="{{ div_class_inner }} group-op-empty">
                <div style="{{ div_style }}"></div>
            </div>
            {% elif is_echo %}
            <div class="{{ div_class_inner }} group-op-echo">
                <div style="{{ div_style }}">{{ current_group_op|title }}</div>
            </div>
            {% else %}
            {{ filter_select(item='group-operator', name='{}.group_op'.format(name_prefix), id_post=id_post,
                aria_label='Filter Group Operator', div_class=select_class_row, options=[('AND', 'And'), ('OR', 'Or')], selected_option=current_group_op, style=div_style) }}
            {% endif %}
        </div>
    </div>
</div>

{%else%}

{% if is_empty %}
<div class="{{ div_class_inner }} group-op-empty">
    <div style="{{ div_style }}"></div>
</div>
{% elif is_echo %}
<div class="{{ div_class_inner }} group-op-echo">
    <div style="{{ div_style }}">{{ current_group_op|title }}</div>
</div>
{% else %}
{{ filter_select(item='group-operator', name='{}.group_op'.format(name_prefix), id_post=id_post,
                aria_label='Filter Group Operator', div_class=div_class_inner, options=[('AND', 'And'), ('OR', 'Or')], selected_option=current_group_op, class='d-inline-block', style=div_style) }}
{% endif %}

{% endif %}
{% endmacro %}


{% macro filter_group(number, filter_options, job_fields, outer_group_op_el='', i=1, name_prefix='group', filters_current={'group_op': 'AND', 'filters': []}, class_row='', class_col_outer='rounded-1', class_col_inner='my-2') %}
<div class="row {{ class_row }}">
    {{ outer_group_op_el|safe }}

    <!--<fieldset>
            <legend>Filter Group</legend> -->
    <div class="filter-group in-group-{{ number - 1 }} col {{ class_col_outer }}" id="filter-group_{{ number }}">
        <div class="row">
            {# Later TODO: Check the 'AND'/'OR' select input for group_op is hidden field *if* filters_current|length < 2 #}

            {% set ns = namespace() %}

            {# {% set group_div_class = 'col-auto d-inline {}'.format(class_col_inner) %} #}

            {% if filters_current['filters']|length < 2 %}
            {{group_op_element(is_group_level=false, select_class_row='py-2', div_class_inner='d-none {}'.format(class_col_inner), div_class_outer='col-auto d-inline {}'.format(class_col_outer), current_group_op=filters_current['group_op'], name_prefix=name_prefix, id_post='g{}-{}'.format(g_number, number)) }}
            {% endif %}


            <div class="col {{ class_col_inner }}">
                {% set ns = namespace() %}
                {% set ns.gnum = number %}
                {% set ns.fnum = 0 %}

                {% for f in filters_current['filters'] %}

                {% set ns.group_op_is_empty = false %}
                {% set ns.group_op_is_echo = false %}
                {% set ns.is_group_level = false %}
                {# {% set ns.group_op_el_loop = group_op_element %} #}
                {% if loop.index < 2 %}
                {% set ns.group_op_is_empty = true %}
                {# {% set ns.group_op_el_loop = '<div class="{}" style="{}"></div>'.format(group_div_class, group_div_style) %} #}
                {% elif loop.index > 2 %}
                {% set ns.group_op_is_echo = true %}
                {# {% set ns.group_op_el_loop = '<div class="{} group-op-echo" style="{}">{}</div>'.format(group_div_class, group_div_style, filters_current['group_op']) %} #}
                {% endif %}

                {% set keys = f.keys()|list %}
                {% if 'group_op' in keys %}

                {% set ns.gnum = ns.gnum + 1 %}
                {% set ns.is_group_level = true %}
                {% set group_op_class_outer = 'col-auto {}'.format(class_col_outer) %}
                {% set group_op_class_inner = 'col-auto d-inline {}'.format(class_col_inner) %}
                {% set group_op_row_class = 'py-2' %}
                {% set group_op_el = group_op_element(is_group_level=ns.is_group_level, select_class_row=group_op_row_class, div_class_inner=group_op_class_inner, div_class_outer=group_op_class_outer, current_group_op=filters_current['group_op'], name_prefix=name_prefix, id_post='g{}-{}'.format(g_number, number), is_empty=ns.group_op_is_empty, is_echo=ns.group_op_is_echo, div_style='width: 100px;') %}

                {{ filter_group(number=ns.gnum, filter_options=filter_options, job_fields=job_fields, outer_group_op_el=group_op_el, i=loop.index, name_prefix='{}.{}.group'.format(name_prefix, loop.index0), filters_current=f, class_row='py-2', class_col_outer='group-inner rounded-1') }}

                {% else %}
                {% set ns.fnum = ns.fnum + 1 %}
                {% set group_op_class_outer = 'col {}'.format(class_col_outer) %}
                {% set group_op_class_inner = 'col-auto d-inline' %}
                {% set group_op_row_class = '' %}
                {% set group_op_el = group_op_element(is_group_level=ns.is_group_level, select_class_row=group_op_row_class, div_class_inner=group_op_class_inner, div_class_outer=group_op_class_outer, current_group_op=filters_current['group_op'], name_prefix=name_prefix, id_post='g{}-{}'.format(g_number, number), is_empty=ns.group_op_is_empty, is_echo=ns.group_op_is_echo, div_style='width: 100px;') %}

                {{ filter_row(g_number=number, number=ns.fnum, f_options=filter_options, job_fields=job_fields, group_op_element=group_op_el, name_prefix='{}.{}.filter'.format(name_prefix, loop.index0), filter_current=f, class_row='gx-2 py-2 in-group-{}'.format(number))
                }}

                {% endif %}

                {% endfor %}


                {# TODO: Add new filter group button and ability #}
                <div class="filter-button row">
                    <div class="col mb-2 d-inline">
                        <button type="button" class="settings-btn btn btn-primary btn-lg" id='add-filter_g{{number}}'
                            onclick="addFilterRow(this, this.id)">Add
                            Filter</button>
                    </div>
                    {# <button class="settings-btn btn btn-primary btn-lg px-4" onclick="addFilterGroup()">Add Group</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- </fieldset> -->
</div>
{% endmacro %}


{% macro filter_row(g_number, number, f_options, job_fields, group_op_element, name_prefix, filter_current={}, class_row='gx-5 my-2') %}
{% set id_post = 'g{}-{}'.format(g_number, number) %}

<div class="filter-row row {{ class_row }}" id="filter-row_{{ id_post }}">
    {# Field #}
    <div class="col-4 filter-field">
        <select name="{{name_prefix }}.field_name" id="field-name_{{ id_post }}" class="form-select"
            aria-label="Field Name"
            onchange="getFilterOptions(this.id, this.name, this.options[this.selectedIndex].value)">

            {% if not filter_current %}
            <option value="" selected>Select field</option>
            {% endif %}

            {% set keys = f_options.keys()|list %} #}
            {% for field in job_fields if field.name in keys %}

            {% if filter_current and field.name == filter_current['field'] %}
            <option value="{{ field.name }}" selected>{{ field.label }}</option>

            {% else %}
            <option value="{{ field.name }}">{{ field.label }}</option>
            {% endif %}

            {% endfor %}
        </select>
    </div>


    {# Operator and Value #}
    {% if filter_current %}
    {# Operator #}
    {{ filter_select(item='filter-operator', name='{}.operator'.format(name_prefix), id_post=id_post,
    aria_label='Operator', div_class='col-2', options=f_options[filter_current['field']]['op_list'],
    selected_option=filter_current['operator']) }}

    {# Value #}
    {% if f_options[filter_current['field']]['input_type'] == 'multi-select' %}

    {{ filter_select_multi(item='filter-value', name='{}.value'.format(name_prefix), id_post=id_post,
    aria_label='Value', div_class='col', options=f_options[filter_current['field']]['values'],
    selected_options=filter_current['values']) }}

    {% else %}
    {{ filter_input(item='filter-value', type='text', name='{}.value'.format(name_prefix), id_post=id_post,
    aria_label='Value', div_class='col', value=filter_current['values']) }}

    {% endif %}

    {% else %}

    {# Operator #}
    {{ filter_select(item='filter-operator', name='{}.operator'.format(name_prefix), id_post=id_post,
    aria_label='Operator', div_class='col-2', class='d-none') }}

    {# Value #}
    {{ filter_select(item='filter-value', name='{}.value'.format(name_prefix), id_post=id_post,
    aria_label='Value', div_class='col', class='d-none') }}

    {% endif %}

    {# Later TODO: Add remove filter button #}
</div>
{% endmacro %}


{% macro filter_select(item, name, id_post, aria_label, div_class='col-4', class='', options=[], selected_option='', style='') %}
<div class="{{ div_class }} {{ item }}">
    <select class="form-select {{ class }}" name="{{ name }}" id="{{ item }}_{{ id_post }}"
        aria-label="{{ aria_label }}" style="{{ style }}">
        {% if options %}

        {% for option in options %}
        {% if option[0] == selected_option %}
        <option value="{{ option[0] }}" selected>{{ option[1] }}</option>
        {% else %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
        {% endif %}
        {% endfor %}

        {% endif %}
    </select>
</div>
{% endmacro %}


{% macro filter_select_multi(item, name, id_post, aria_label, div_class='col-4', class='', options=[], selected_options=[]) %}
<div class="{{ div_class }} {{ item }}">
    <select class="form-select {{ class }}" name="{{ name }}" id="{{ item }}_{{ id_post }}"
        aria-label="{{ aria_label }}">
        {% if options %}

        {% for option in options %}
        {% if option[0] in selected_options %}
        <option value="{{ option[0] }}" selected>{{ option[1] }}</option>
        {% else %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
        {% endif %}
        {% endfor %}

        {% endif %}
    </select>
</div>
{% endmacro %}


{% macro filter_input(item, type, name, id_post, aria_label, div_class='col-4', class='', value='') %}
<div class="{{ div_class }} {{ item }}">
    <input type="{{ type }}" id="{{ item }}_{{ type }}_{{ id_post }}" aria-label="{{ aria_label }}"
        class="form-control {{ class }}" name="{{ name }}" {% if value %}value="{{ value }}" {% endif %} />
</div>
{% endmacro %}



<!-- <div class="col-4 filter-value filter-text d-none">
    <label for="filter-value_text_1" class="form-label"></label> 
    <input type="text" class="form-control" id="filter-value_text_1" name="value" value=""
        aria-label="Value" />
</div>-->

<!--<div class="col-4 filter-value filter-date d-none">
    <label for="filter-value_date_1" class="form-label"></label>
    <input type="date" class="form-control" id="filter-value_date_1" name="value" value=""
        aria-label="Value" />
</div>-->