{% from 'data_filters.html' import filter_group %}

{% macro update_filters_form(id, filter_options, job_fields, current_view) %}
<form action="{{ url_for( 'update_filters', view=current_view.name ) }}" method="POST" id="{{id}}" class="sort-filter">
    {# TODO: Check accessibility of labeling for this setup #}

    <div class="container-fluid">
        {{ filter_group(filter_options=filter_options, job_fields=job_fields, filters_current=current_view.filters.saved) }}
    </div>

</form>

{% endmacro %}

{% macro update_global_filters_form(id, filter_options, job_fields, global_filters) %}
<form action="{{ url_for( 'update_settings', section='global_data_filters' ) }}" method="POST" id="{{id}}" class="sort-filter">

    <div class="container-fluid">
        {{ filter_group(filter_options=filter_options, job_fields=job_fields, filters_current=global_filters) }}
    </div>

</form>

{% endmacro %}