{% from 'general_components.html' import iconBtnContent %}

{% macro sort_select(item, number, aria_label, div_class='col-4', options=[], selected_option=options[0][0], style='') %}
<div class="{{ div_class }} sort-{{ item }}">
    <select class="form-select" name="{{ number }}.{{ item }}" aria-label="{{ aria_label }}" style="{{ style }}">
        {% if options %}

        {% for option in options %}
        <option value="{{ option[0] }}" {% if option[0] == selected_option %}selected{% endif %}>
            {{ option[1] }}
        </option>
        {% endfor %}

        {% endif %}
    </select>
</div>
{% endmacro %}


<form action="{{ url_for( 'update_sort', view=views.current.name) }}" method="POST" onsubmit="announceSave()"
    id="viewSortForm" class="">
    <div class="sort-container vstack gap-3">

        {% for sort in views.current.sort %}
        <div class="sort-row row" id="sort-{{ loop.index }}">
            {{ sort_select(item='field', number=loop.index, aria_label='Field Name', options=sort_options.fields, selected_option=sort[0], div_class='col-4') }}
            {{ sort_select(item='order', number=loop.index, aria_label='Sort Order', options=sort_options.order, selected_option=sort[1], div_class='col-auto') }}
            <div class="btn-remove-one col-auto d-inline">
                <button class="btn ab-btn-light" type="button" onclick="removeOneSort(this)">
                    {{ iconBtnContent(icon_class='bi-trash3', text='Remove', text_is_hidden=true, icon_style='') }}
                </button>
            </div>
        </div>
        {% endfor %}

        <div class="sort-btn row">
            <div class="col-auto">
                <button type="button" class="btn ab-btn-dark-color" id='addSortBtn' onclick="addSort(this)">
                    {{ iconBtnContent(icon_class='bi-plus-lg', text='Add Sort', text_is_hidden=false, icon_style='font-size: 1.2rem; font-weight: bold;') }}
            </div>
        </div>
        <div class="btn-remove-all col-auto d-inline">
            <button class="btn ab-btn-light" type="button" onclick="removeAllSort(this)">
                {{ iconBtnContent(icon_class='bi-trash3', text='Clear All Sorting', text_is_hidden=false) }}
            </button>
        </div>
    </div>
</form>





<script>


    function addSort(element) {
        //Get number --> i.e. index number + 1, or, length of all sort rows.
        console.log('element: ', element)
        const parentEl = element.closest('.sort-container')
        console.log('sortContainer: ', parentEl)

        const sortRows = parentEl.querySelectorAll('.sort-row')
        console.log('sortRows: ', sortRows)
        const numRows = sortRows.length
        console.log('numRows: ', numRows)

        let number = 0
        if (numRows > 0) {
            const lastRow = sortRows[numRows - 1]
            console.log('lastRow: ', lastRow)
            number = parseInt(lastRow.id.split('-').pop()) + 1

            console.log('number: ', number)
        }

        const text = newSortEl(number)

        const buttonDiv = element.closest('.sort-btn')
        buttonDiv.insertAdjacentHTML('beforebegin', text)
    }

    function removeOneSort(element) {
        const sortRowDiv = btnElement.closest('.sort-row')

        sortRowDiv.remove()
    }


    function removeAllSort(element) {
        const sortContainer = element.closest('.sort-container')
        const sortRowsAll = sortContainer.querySelectorAll('.sort-row')
        console.log('sortrowsAll: ', sortRowsAll)
        sortRowsAll.forEach((row) => row.remove())
    }

    function newSortEl(number) {
        //console.log('options: ', sortOptions)

        function sortSelectEl(item, number, ariaLabel, options, divClass) {
            let options_els = ''
            console.log('options: ', options)
            options.forEach((option) => {
                console.log('option[0]', option[0])
                options_els += `
                        <option value=${option[0]}>${option[1]}</option>`
            })

            return (
                `<div class="sort-${item} ${divClass}">
                    <select class="form-select" name="${number}.${item}" aria-label="${ariaLabel}">
                        ${options_els}
                    </select>
                </div>
                `
            )
        }

        const fieldDivClass = 'col-4'
        const orderDivClass = 'col-auto'

        const fieldSelectInput = sortSelectEl('field', number, 'Field Name', sortOptions.fields, fieldDivClass)
        const orderSelectInput = sortSelectEl('order', number, 'Sort Order', sortOptions.order, orderDivClass)

        const deleteButton = deleteSortBtnEl('col-auto d-inline')

        return (
            `<div class="sort-row row" id="sort-${number}">
                    ${fieldSelectInput}
                    ${orderSelectInput}
                    ${deleteButton}
                </div>
                `
        )
    }



    function deleteSortBtnEl(outerClass) {
        return `<div class="btn-remove-one ${outerClass}">
                    <button class="btn ab-btn-light" type="button"
                    onclick="removeOneSort(this)">
                        <i class="bi bi-trash3" aria-hidden="true"></i>
                        <span class="visually-hidden">Remove</span>
                    </button>
                </div>
        `
    }

</script>