<form action="{{ url_for( 'update_layout_options', view=views.current.name, layout='table') }}" method="POST" 
onsubmit="announceSave()" id="viewLayoutTableForm" class="vstack gap-1">
    {# Later TODO - CHECK: Need the onsubmit to announce save completed to live region? Or only need if not refreshing entire page when submitted?  #}

    <div class="dropdown">
        {# TODO: Check table settings form accessibility #}
        <button type="button" class="btn btn-outline-light btn-lg dropdown-toggle rounded-1" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
            Show/hide columns
        </button>
        <fieldset class="dropdown-menu px-5 position-relative rounded-1">
            <legend class="visually-hidden">Show/Hide Table Columns</legend>
            {% for field in options.table.job_fields %}
            <div class="form-check p-2">
                {% if field.hidden %}

                <input class="form-check-input me-1" type="checkbox" value="{{ field.name }}"
                    id="display-option-{{ field.name }}" name="display">
                {% else %}
                <input class="form-check-input me-1" type="checkbox" value="{{ field.name }}"
                    id="display-option-{{ field.name }}" name="display" checked>
                {% endif %}
                <label class="form-check-label"
                    for="display-option-{{ field.name }}">{{ field.label }}</label>
            </div>
            {% endfor %}
        </fieldset>
    </div>
    
    {# Later TODO: Allow reordering fields #}
    {# Later TODO: Add grouping #}

</form>