{% from 'modals.html' import view_job_modal, edit_modal, confirmation_modal %}

<div id="modalsJob-{{ job['id'] }}">
    {{ view_job_modal(job) }}

    {% call(data) edit_modal(formURL=url_for('update_job', id=job['id']), title='Edit Job', id='job-{}'.format(job['id']), data=job) %}
    {% for field in options.table.job_fields if field.name not in ['id', 'created', 'post_id', 'post_link'] %}

    {% if field.type == 'text-short' or field.type == 'text-one-line' %}
    {{ form.text_input(field.label, id=field.name, name=field.name, value=data[field.name] if data[field.name] else '') }}
    {% elif field.type == 'text-long' %}
    {{ form.textarea(field.label, id=field.name, name=field.name, rows='10', value=data[field.name]) }}
    {% elif field.type == 'date' %}
    {{ form.date_input(field.label, id=field.name, name=field.name, value=data[field.name].strftime('%Y-%m-%d') if data[field.name]) }}
    {% elif field.type == 'number' %}
    {{ form.number_input(field.label, id=field.name, name=field.name, value=data[field.name]) }}
    {% endif %}

    {% endfor %}
    {% endcall %}

    {% call() confirmation_modal(title='Confirm Delete', id_post='deleteJob-{}'.format(job['id'])) %}
    <div class="modal-body px-5 pb-0 pt-5 modal-content-bg text-center">
        <p class="fs-5">
            The following job will be deleted:
        </p>
        <p class="fs-3">
            {{ job['post_title'] }}, at {{ job['company_name'] if job['company_name'] else '(Unknown Company)' }}
        </p>
        <p class="fs-5 mt-5">
            This action cannot be undone.
        </p>
    </div>
    <div class="modal-footer py-5 border-0 modal-content-bg justify-content-evenly" style="column-gap: 2.5rem;">
        <button class="btn btn-danger btn-lg w-200" onclick="handleDeleteJob({{ job.as_dict() }})">Delete</button>

        {# <form action="{{ url_for( 'delete_job', id=job['id']) }}" method="POST">
            <button class="btn btn-danger btn-lg w-200" type="submit">Delete</button>
        </form> #}
        <button type="button" class="btn btn-secondary btn-lg w-200" data-bs-dismiss="modal">Cancel</button>
    </div>
    {% endcall %}

</div>