{% from 'modals.html' import dataview_settings_modal %}

{% if views.current.layout == 'list' %}
<div id="dataview-list">
</div>

{% call dataview_settings_modal(title='List Settings', id_post='layoutSettings') %}
<div class="modal-body p-4">
    <div class="mx-4">
        {% include 'dataview_list_settings.html' %}
    </div>
</div>
<div class="modal-footer">
    <button class="settings-btn btn btn-primary" type="submit" form="list-settings-form">Save</button>
    <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}


{% else %}
<div id="dataview-table">
    {% include 'posts_table.html' %}
</div>

{% call dataview_settings_modal(title='Table Settings', id_post='layoutSettings') %}
<div class="modal-body p-4">
    <div class="mx-4">
        {% include 'dataview_table_settings.html' %}
    </div>
</div>
<div class="modal-footer">
    <button class="settings-btn btn btn-primary" type="submit" form="table-settings-form">Save</button>
    <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}

{% endif %}



{% call dataview_settings_modal(title='Filters', id_post='filters') %}
<div class="modal-body p-4">
    <div class="mx-4">
        {% include 'data_filters_form.html' %}
    </div>
</div>
<div class="modal-footer">
    {# Later TODO: Add button to clear/reset all filters #}
    <button class="settings-btn btn btn-primary" type="submit" form="data-filters-form">Save</button>
    <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}