{% extends "base.html" %}
{% from 'general_components.html' import iconBtnContentSvg %}
{% from 'modals.html' import dataview_settings_modal %}
{% from 'form.html' import text_input %}

{% block page_title %}View Job Posts{% endblock %}

{% block content %}

{# Later TODO: Add tooltips to buttons, etc. #}

<!-- Later TODO: Move this live region to a better location. -->
<div role="status" aria-live="polite" class="visually-hidden">
    <!-- add content to hear it spoken -->
</div>

<h1 id="posts-table-label" class="pt-2">Job Posts</h1>

<div class="dataview-frame shadow">
    <div class="d-flex mb-2 justify-content-between view-border" id="dataviewControls">
        {# Later TODO: Turn dataview control section into toolbar (aria) #}
        <div class="d-flex flex-row align-items-center" style="column-gap: .5rem">
            <label class="me-2 fs-5" id="views-label">View </label>
            <div class="dropdown" id="saved-views-dropdown" data-inclusive-menu aria-labelledby="views-label">
                <button
                    class="dropdown-toggle btn ab-btn-light with-border with-hover-border rounded-1 d-flex flex-row align-items-center"
                    data-inclusive-menu-opens="views-menu">
                    <span class="justify-self-center">{{ views.current.name|capitalize }}</span>
                </button>
                <div id="views-menu" class="list-group shadow">
                    {% for view in views.names %}
                    <button class="list-group-item list-group-item-action"
                        {% if view == views.current.name %}aria-checked="true"
                        {% endif %}>{{ view|capitalize }}</button>
                    {% endfor %}
                </div>
            </div>
            <button class="btn ab-btn-light" type="button" data-bs-toggle="modal"
                data-bs-target="#settingsModal-createView">
                {{ iconBtnContentSvg('#svg-bi-plus-lg', text='Create View', icon_w='18', icon_h='18', spacer_style='width: 0rem;') }}
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="View Settings">
            <button class="btn ab-btn-light" type="button" data-bs-toggle="modal"
                data-bs-target="#settingsModal-filters">
                {{ iconBtnContentSvg('#svg-bi-funnel', 'Filters', icon_w='18', icon_h='18') }}
            </button>
            <div class="vr"></div>
            <button class="btn ab-btn-light" type="button" data-bs-toggle="modal" data-bs-target="#settingsModal-sort">
                {{ iconBtnContentSvg('#svg-bi-arrow-down-up', 'Sort', icon_w='18', icon_h='18') }}
            </button>
            <div class="vr"></div>
            <button class="btn ab-btn-light" type="button" data-bs-toggle="modal"
                data-bs-target="#settingsModal-layoutSettings">
                {{ iconBtnContentSvg('#svg-bi-gear', 'Settings', icon_w='18', icon_h='18') }}
            </button>
        </div>

    </div>

    <div id="dataviewMain">
        {% include 'dataview.html' %}
    </div>

</div>

{% call dataview_settings_modal(title='Create New View', id_post='createView') %}
<div class="modal-body py-3 modal-content-bg">
    {# <div class="modal-body-bg py-3"> #}
    <form action="{{ url_for( 'create_view' ) }}" method="POST" id="createViewForm">
        {{ text_input(label='Name', id='newViewName', name='name', value='', container_class='mb-3 fs-4 px-1') }}
    </form>
    {# </div> #}
</div>

<div class="modal-footer pb-5 pt-3 modal-content-bg justify-content-evenly border-0">
    <button class="settings-btn btn btn-primary btn-lg w-200" type="submit" form="createViewForm">Save</button>
    <button type="button" class="btn btn-outline-secondary btn-lg w-200" data-bs-dismiss="modal">Cancel</button>
</div>
{% endcall %}


{% endblock %}


{% block scripts %}
{{ super() }}

<script>
    // Variables from backend via Jinja
    const views = {{ views | tojson }}
    const viewOptions = {{ options | tojson }}
    const sortOptions = {{ sort_options | tojson }}
    const filterOptions = {{ filter_options | tojson }}

    const get_view_url = {{ url_for('change_view') | tojson }}


    // VIEW NAVIGATION

    // Menu button instantiation
    const viewsButton = document.querySelector('[data-inclusive-menu-opens="views-menu"]')
    const viewsMenuButton = new MenuButton(viewsButton, { checkable: 'one' })

    //const changeViewForm = document.getElementById('change-view-form')
    const dataviewSection = document.querySelector('#dataviewMain')

    const dataviewTable = document.querySelector('#dataviewTable')
    const dataviewList = document.querySelector('#dataviewList')

    // Listen to choose event
    viewsMenuButton.on('choose', function (choice) {
        const viewSelected = choice.innerText.trim()
        viewsButton.innerText = viewSelected

        // TODO: Deal with when current view is deleted (remove from history...?)
        // TODO: Handle when view is not found on backend
        //      (i.e. need to figure how to update history, etc. Maybe throw error from backend?)

        function updateView(viewName) {
            const view = viewName.toLowerCase();

            if (!views.names.includes(view)) {
                console.log('Selected view name not found.');
                return;
            }

            let data = new FormData()
            data.append("view", view)
            request = {
                'method': 'POST',
                'body': data,
            }

            fetch(get_view_url, request)
                .then(response => {
                    return response.text();
                })
                .then(html => {
                    updateHistory(html, view);
                    return dataviewSection.innerHTML = html
                })
        }

        function updateHistory(data, view) {
            console.log('Updating history...')
            const pathname = view
            //history.replaceState()
            history.pushState(data, "", pathname);
        }

        updateView(viewSelected)
        console.log('You chose "' + choice.innerText + '"')
    })

    // Handle forward/back buttons
    window.addEventListener("popstate", (event) => {
        if (event.state) {
            // Simulate the loading of the previous page
            dataviewSection.innerHTML = event.state
        }
    });

    // Set initial state on browser page load
    const initialState = dataviewSection.innerHTML
    history.replaceState(initialState, "", document.location.href);



    // OTHER

    // Put focus on first input of edit modal
    const editModals = document.querySelectorAll('.edit-modal')

    editModals.forEach(modal => {
        modal.addEventListener('shown.bs.modal', (e) => {
            const myInput = e.target.querySelector('.edit-modal input')
            myInput.focus()
        })
    })

    // Put focus on create view modal input
    const createViewModal = document.getElementById('settingsModal-createView')

    createViewModal.addEventListener('shown.bs.modal', (e) => {
        const firstInput = e.target.querySelector('.form-control')
        firstInput.focus()
    })


    // example LIVE REGION script -- for alert/status messages to be read by Voice Readers 
    // var todoName = document.querySelector('[type="text"]').value;

    function sendToLiveRegion(message) {
        const liveRegion = document.querySelector('[role="status"]');
        liveRegion.textContent = message;
        setTimeout(() => { liveRegion.textContent = '' }, 5000)
    }

    function announceSave() {
        const liveRegion = document.querySelector('[role="status"]');
        liveRegion.textContent = `Settings were saved.`;
        setTimeout(() => { liveRegion.textContent = '' }, 5000)
    }

    // formBtn.addEventListener("click", announceSave());

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataview_filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataview_sort.js') }}"></script>

{% endblock %}


{# ----- Trash (TEMP) ---- #}


{# View format: [Table, List] #}

{# <div class="dropdown">
        <button type="button" class="btn btn-outline-light btn-lg dropdown-toggle" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
            Change view
        </button>

        <div class="dropdown-menu">
            <form id="change-view-form" class="container">
                <div class="row justify-content-between">
                    <div class="col-4 p-0">
                        <fieldset class="px-5 mt-1">
                            <legend class="visually-hidden">Select a saved view</legend> #}
{# {% for view in views.names %} #}
{# <div class="form-check p-2">
                                <input class="form-check-input me-1" type="radio" value="{{ view }}"
                                    id="view-option-{{ view }}" name="view"
                                    {% if view == views.current.name %}checked{% endif %}>
                                <label class="form-check-label"
                                    for="view-option-{{ view }}">{{ view|capitalize }}</label>
                            </div> #}
{# {% endfor %} #}
{# </fieldset>
                    </div>
                </div>
                <button class="settings-btn btn btn-primary px-4" type="submit">Go to View</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Create New View</a>
        </div>
    </div> #}

{# <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Current view: {{ views.current.name|capitalize }}
        </button>
        <ul class="dropdown-menu"> #}
{# {% for view in views.names %}
            <li><a href="{{ url_for('get_view', view=view) }}"
                    class="dropdown-item {% if view == views.current.name %}active{% endif %}"
                    {% if view == views.current.name %}aria-current="true" {% endif %}>{{ view|capitalize }}</a></li>
            {% endfor %} #}
{# </ul>
    </div> #}