{% extends "base.html" %} 

{% block page_title %}Home{% endblock %}

{% block content %}

<!-- TODO: Move this live region to a better location. -->
<div role="status" aria-live="polite">
    <!-- add content to hear it spoken -->
</div>

<h1 id="posts-table-label">Job Posts</h1>

<div class="table-container border border-black border-2 rounded-2 vh-75 container-md p-0">
    <div class="empty-state">
        <p>No job posts here yet. Click the button to run a search manually.</p>
    </div>
    {% include 'posts_table.html' %}
</div>

<br/>
<!-- Table Settings -->
<h2>Table Settings</h2>
{% include 'posts_table_settings.html' %}
<br/>



{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    // example LIVE REGION script -- for alert/status messages to be read by Voice Readers 
    // var todoName = document.querySelector('[type="text"]').value;
    
    // const formBtn = document.querySelector(".settings-btn");

    function announceSave() {
        // const testButton = document.querySelector("#test-button");
        // testButton.text = ''

        const liveRegion = document.querySelector('[role="status"]');
        liveRegion.textContent = `Settings were saved.`;
        setTimeout(() => {liveRegion.textContent = ''}, 5000)
    }
    
    // formBtn.addEventListener("click", announceSave());

</script>
{% endblock %}