{% from 'modals.html' import view_job_modal, view_job_button, edit_modal, edit_modal_button %}
{% from 'table_macros.html' import table_cell_content %}
{% import 'form.html' as form %}
{% from 'general_components.html' import iconBtnContent, iconBtnContentSvg, checkboxButton %}
{% set visible_fields = options.table.job_fields|rejectattr('hidden')|list %}


{# TODO: Enable delete table items. (w/ confirmation dialog) #}

{# [x] TODO: Add columns for marking out "bookmark", #}
{# TODO: Add columns for "read/seen", (maybe mark out "hide"...) #}

{# TODO: Filter out titles based on global_data_filters.post_title filters. #}

{# Later TODO (maybe): Make rows clickable -- to open job details modal #}


<div class="view-border border border-3 container-md p-0">

    {% if not jobs %}
    {# Later TODO: Edit this to allow for "no results" for filter #}
    <div class="p-5">
        <p>No results.</p>
        <p>Go to settings to set up options and run a search manually.</p>
    </div>

    {% else %}
    <div class="table-container vh-75">
        <table id="jobs-view-table" class="table table-dark table-hover caption-top py-0 m-0 freeze">
            <caption class="p-0">
                <h2 id="posts-table-label" class="visually-hidden">Job Posts Table</h2>
            </caption>
            <thead>
                <tr class="table-active border-bottom border-secondary shadow">
                    {% for field in visible_fields %}
                    <th scope="col" class="border-bottom border-secondary {{ field['type'] }} name-{{ field['name'] }}">
                        {{ field['label'] }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr id="dataviewItem-{{ job['id'] }}">
                    <th scope="row"
                        class="table-active {{ visible_fields[0]['type'] }} name-{{ visible_fields[0]['name'] }}">
                        <div class="d-flex flex-column gap-2">
                            {{ table_cell_content(field=visible_fields[0], job=job) }}
                            {# TODO: Check button placement accessibility #}
                            <div class="d-flex gap-2" role="group" aria-label="Item Actions">
                                {{ checkboxButton(id='bookmarkBtn-{}'.format(job.id), svg_href_off='#svg-bi-bookmark', svg_href_on='#svg-bi-bookmark-fill', text='Toggle Bookmark', onchange='toggleBookmark(this)', is_checked=job.bookmarked, btn_class='ab-btn-light') }}

                                <div class="btn-group w-100 item-actions">
                                    {{ view_job_button(job['id'], label=iconBtnContentSvg('#svg-bi-arrows-fullscreen', 'View', icon_w='13', icon_h='13', icon_style='vertical-align: -.025em;'), class="btn btn-dark") }}
                                    <div class="vr"></div>
                                    {{ edit_modal_button(iconBtnContentSvg('#svg-bi-pencil-square', 'Edit'), data_target='job-{}'.format(job['id']), class='btn btn-dark') }}

                                    {# Add delete button here(?). justify-self-end #}
                                </div>
                            </div>
                        </div>
                    </th>
                    {% for field in visible_fields[1::] %}
                    <td>
                        {{ table_cell_content(field=field, job=job) }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {% for job in jobs %}
        {% include 'dataview_item_modals_group.html' %}
        {% endfor %}

    </div>
    {% endif %}

</div>