{# {% extends "index.html" %} #}
{# {% block page_title %}Jobs: Table{% endblock %} #}

{% from 'modals.html' import view_job_modal, view_job_button, edit_modal, edit_modal_button %}
{% from 'table_macros.html' import table_cell_content %}
{% import 'form.html' as form %}

{% set visible_fields = options.job_fields|rejectattr('hidden')|list %}


{# TODO: Enable delete table items. (w/ confirmation dialog) #}

{# TODO: Add columns for marking out "bookmark", "read/seen", (maybe mark out "hide"...) #}

{# TODO: Filter out titles based on global_data_filters.post_title filters. #}

{# Later TODO (maybe): Make rows clickable -- to open job details modal #}


{# {% block dataview %} #}

<div class="view-border border border-3 container-md p-0">

    {% if not jobs %}
    {# Later TODO: Edit this to allow for "no results" for filter #}
    <div class="p-5">
        <p>No jobs here yet. Go to settings to set up options and run a search manually.</p>
    </div>

    {% else %}
    <div class="table-container vh-75">
        <table id="jobs-view-table" class="table table-dark table-hover caption-top py-0 m-0 freeze">
            <caption class="p-0">
                <h2 id="posts-table-label" class="visually-hidden">Job Posts Table</h2>
            </caption>
            <thead>
                <tr class="table-active border-bottom border-secondary shadow">
                    {% for field in visible_fields %}
                    <th scope="col" class="border-bottom border-secondary {{ field['type'] }} name-{{ field['name'] }}">
                        {{ field['label'] }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <th scope="row"
                        class="table-active {{ visible_fields[0]['type'] }} name-{{ visible_fields[0]['name'] }}">
                        <div class="d-flex flex-column gap-2">
                            {{ table_cell_content(field=visible_fields[0], job=job) }}
                            {# TODO: Check button placement accessibility #}
                            <div class="d-flex gap-3">
                                {{ view_job_button(job['id'], text='View', class="btn btn-primary btn-sm") }}
                                {{ edit_modal_button('Edit', data_target='job-{}'.format(job['id']), class='btn btn-primary btn-sm') }}
                                {# Add delete button here(?). justify-self-end #}
                            </div>
                        </div>
                    </th>
                    {% for field in visible_fields[1::] %}
                    <td>
                        {{ table_cell_content(field=field, job=job) }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>




        {% for job in jobs %}

        {{ view_job_modal(job) }}

        {% call(data) edit_modal(formURL=url_for('update_job', id=job['id']), title='Edit Job', id='job-{}'.format(job['id']), data=job) %}
        {% for field in options.job_fields if field.name not in ['id', 'created', 'post_id', 'post_link'] %}

        {% if field.type == 'text-short' or field.type == 'text-one-line' %}
        {{ form.text_input(field.label, id=field.name, name=field.name, value=data[field.name]) }}
        {% elif field.type == 'text-long' %}

        {{ form.textarea(field.label, id=field.name, name=field.name, rows='10', value=data[field.name]) }}
        {% elif field.type == 'date' %}
        {{ form.date_input(field.label, id=field.name, name=field.name, value=data[field.name].strftime('%Y-%m-%d') if data[field.name]) }}
        {% endif %}

        {% endfor %}

        {% endcall %}

        {% endfor %}

    </div>
    {% endif %}

</div>
{# {% endblock %} #}