{% extends "base.html" %}

{% block page_title %}Admin{% endblock %}

{% block content %}
{% from 'modals.html' import edit_modal, edit_modal_button, dataview_settings_modal %}
{% from 'form.html' import text_input %}
{% from 'data_filters_form.html' import update_global_filters_form %}
{% from 'general_components.html' import checkboxToggleButton, iconSvg %}


{% macro admin_panel_edit_button(label, data_target, icon, class='btn ab-btn-light with-border with-hover-border') %}
<button class="{{ class }}" type="button" data-bs-toggle="modal" data-bs-target="#{{data_target}}">
    {{ iconBtnContentSvg(icon, label, icon_w='18', icon_h='18') }}
</button>
{% endmacro %}

{# {% set errors_linked_accounts = [] %}

{% if accounts_summary.enabled_not_set_up|length > 0 %}

{% if accounts_summary.enabled_not_set_up|length > 1 %}
{% set errors_linked_accounts = errors_linked_accounts + ['Minimum configuration is incomplete for 1 enabled account.'] %}
{% else %}
{% set errors_linked_accounts = errors_linked_accounts + ['Minimum configuration is incomplete for {} enabled accounts'.format(accounts_summary.enabled_not_set_up|length)] %}
{% endif %}

{% endif %}

{% set errors = {'Linked Accounts': errors_linked_accounts} %} #}


<h1>Admin Tools & Settings</h1>
<hr />

{# {% if errors_linked_accounts %}
<ul class="p-3 border border-danger border-rounded">
    {% for key, section in errors.items() %}
    <li style="list-style-type: none">{{ key }}</li>
    <ul>
        {% for message in errors_linked_accounts %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endif %} #}


<div class="vstack gap-3">
    <div class="settings-frame shadow">
        <h2>Job Search</h2>
        <div>
            <a class="btn btn-primary" href="{{ url_for('run_job_search') }}" role="button">Run Search</a>
        </div>
    </div>

    {# <br /> #}
    <div class="settings-frame shadow">
        <div class="d-flex gap-5 justify-content-between">
            <h3>Search Settings</h3>
            {{ admin_panel_edit_button('Edit Settings', data_target='editModal-admin-searchSettings', icon='#svg-bi-link-45deg')}}
        </div>
        <hr />

        <ul class="mt-3">
            <li class="mb-3">
                <div class="fs-5 mb-1">Search Phrases:</div>
                <div>
                    <ul>
                        {% for phrase in search_settings['search_phrases'] %}
                        <li>{{ phrase }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="fs-5 mb-1">Exclude Posts by These Companies:</div>
                <div>
                    <ul>
                        {% for company in search_settings['exclude_companies'] %}
                        <li>{{ company }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="settings-frame shadow">
        <div>
            <h3>Linked Accounts</h3>
            <hr />
        </div>
        {# TODO: Section description #}
        <div id="section-messages-accounts">

            {# Section Error Messages #}
            <div class="py-3 border border-danger rounded rounded-1">
                <ul class="mb-0">
                    {% if accounts_summary.enabled_not_set_up['keys']|length > 0 %}
                    <li class="text-secondary-emphasis">
                        Some accounts are enabled but set-up is incomplete:
                        {{ accounts_summary.enabled_not_set_up['names'] | join(', ') }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <ul class="mt-4 p-0" style="list-style-type:none;">

            {% for key, account in accounts_settings|items %}
            <li>
                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <div class="d-flex gap-2">
                            {{ checkboxToggleButton(id='toggleButton-{}'.format(key), label='Enable {}'.format(account.name), onchange='handleToggleAccount(this)', is_checked=account.enabled) }}
                            {{ account.name }}
                        </div>

                        {% if key in(accounts_summary.enabled_not_set_up['keys']) %}
                        <div class="text-danger">
                            {{ iconSvg('#svg-bi-exclamation-circle-fill') }}
                        </div>
                        {% endif %}
                    </div>
                    {% if account.enabled %}
                    <div class="justify-self-end">
                        {{ admin_panel_edit_button('Edit Configuration', data_target='editModal-admin-account-{}'.format(key),
                        icon='#svg-bi-pencil-square')}}
                    </div>
                    {% endif %}
                </div>

                {# Error Messages #}

                <div class="mt-1 text-danger">
                    {% if key in(accounts_summary.enabled_not_set_up['keys']) %}
                    Configuration incomplete. Missing: {{ account.required_missing|join(', ') }}
                    {% endif %}
                </div>
            </li>

            {% endfor %}

        </ul>
    </div>
    <!--
<h2>View Defaults</h2>
[Edit button]
<ul>
<li>Default view: [View]
</li>
<li>
Layout: [Table, or List]
</li>
[For edit, Use the same button toggle from the views Settings modal]
<h2><Layout Defaults></h2>

<h3>Table</h3>
<li>
Fields Visible: 
    <ul>
    <li>[field]</li>
    ...
    <li>[field]</li>
    </ul>
</li>
<li>
Field Order:
    <ul>...</ul>
</li>
</ul>
-->
    <div class="settings-frame shadow">
        <div class="d-flex gap-5 justify-content-between">
            <h2>Global Filters</h2>
            {{ admin_panel_edit_button('View/Edit Filters', data_target='settingsModal-filters', icon='#svg-bi-funnel')}}
        </div>
        {# TODO: section description #}
    </div>

    {# 
<div class="settings-frame shadow">
<h3 class="mt-3 fs-4">Post Title Filters</h3>
<ul class="mt-2">
    <li class="mb-3">
        <p class="fs-5 mb-1">Exclude Keywords:</p>
        <div>
            <ul>
                {% for keyword in global_data_filters.post_title['exclude_keywords'] %}
                <li>{{ keyword }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li><span class="fs-5 mb-1">Regex: </span><code>{{ global_data_filters.post_title['regex'] }}</code></li>
</ul> 
</div>
#}

</div>

{% call(data) edit_modal(formURL=url_for('update_settings', section='search_settings'), title='Edit Search Settings', id='admin-searchSettings', data=search_settings) %}
{# TODO: Add input instructions (comma-separated lists, exact spelling, etc.)) #}
{{ text_input('Search Terms/Phrases', id='search_phrases', name='search_phrases', value=data['search_phrases']|join(', ')) }}
{{ text_input('Exclude Companies', id='exclude_companies', name='exclude_companies', value=data['exclude_companies']|join(', ')) }}
{% endcall %}

{% call(data) edit_modal(formURL=url_for('update_settings', section='global_data_filters'), title='Edit Global Filters', id='admin-dataFilters', data=global_data_filters) %}
{#  TODO: Add input instructions (comma-separated lists, exact spelling, etc.)) #}

<fieldset>
    <legend>Post Title Filters</legend>
    {{ text_input('Exclude Keywords', id='title_exclude_keywords', name='exclude_keywords', value=data.post_title['exclude_keywords']|join(', ')) }}
    {{ text_input('Regex Filter - post title', id='title_regex', name='title_regex', value=data.post_title['regex']) }}
</fieldset>

{% endcall %}


{% for key, account in accounts_settings|items %}

{% call(data) edit_modal(formURL=url_for('update_settings', section='accounts'), title='Account Configuration: {}'.format(account.name), id='admin-account-{}'.format(key)) %}
<div class="d-flex flex-column gap-2">
    <fieldset>
        <legend class="border-bottom border-secondary">Credentials</legend>
        <div class="p-2 border border-secondary rounded rounded-1">
            {# Todo maybe: Add info -- warn to be sure to check is correct - search won't work if isn't... Recommend doing test run for account to verify credentials work, and complete any captchas if needed, etc . #}
            {{ text_input('Username', id='{}_username'.format(key), name='{}_username'.format(key), value=account.username if account.username else '', label_class='fs-5') }}
            {{ text_input('Password', id='{}_password'.format(key), name='{}_password'.format(key), value='', label_class='fs-5') }}
            {# Todo: Add way to delete credentials from config -- like a checkbox "check to delete credentials" #}
        </div>

    </fieldset>
    <hr />
    <div class="p-2">
        {{ text_input('Search Url', id='{}_search_url'.format(key), name='search_url', value=account.search_url if account.search_url else '', label_class='fs-5', description_class='pt-2 text-secondary-emphasis',description='Navigate to the {} website and run a test search with any/all the filters you would like (location, etc). Then, copy that url and paste here (as is).'.format(account.name)) }}
    </div>
</div>

{% endcall %}

{% endfor %}


{% call dataview_settings_modal(title='Filters', id_post='filters', outer_class='sort-filter') %}
<div class="modal-body p-0 modal-content-bg sort-filter">
    <div class="modal-body-bg">
        {{ update_global_filters_form(id='globalFiltersForm-filtersModal', filter_options=filter_options, job_fields=job_fields, global_filters=global_data_filters.job_filters) }}
    </div>
</div>
<div class="modal-footer p-4 modal-gradient-bg border-0 sort-filter">
    <button class="btn btn-primary" type="submit" form="globalFiltersForm-filtersModal">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
{% endcall %}

{% endblock %}


{% block scripts %}
{{ super() }}

<script>
    // {# Variables from backend via Jinja #}

    // {# const globalOptions = {{ options | tojson }} #}
    const jobFields = {{ job_fields | tojson }}
    const filterOptions = {{ filter_options | tojson }}
    const toggleAccountUrl = {{ url_for('toggle_account_enabled') | tojson }}
    const viewSettingsUrl = {{ url_for('settings') | tojson }}


</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataview_filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin_actions.js') }}"></script>

{% endblock %}