{% extends "base.html" %}

{% block page_title %}Settings{% endblock %}

{% block content %}
{% from 'modals.html' import edit_modal, edit_modal_button %}
{% from 'form.html' import text_input %}

<h1>Settings</h1>
<hr />
<div>
    <a class="btn btn-primary" href="{{ url_for('run_job_search') }}" role="button">Run Search</a>
</div>

<br />
<h2>Search Settings</h2>
{{ edit_modal_button('Edit Settings', data_target='settings-searchSettings') }}

<ul class="mt-3">
    <li class="mb-3">
        <p class="fs-5 mb-1">Search Phrases:</p>
        <div>
            <ul>
                {% for phrase in search_settings['search_phrases'] %}
                <li>{{ phrase }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li>
        <p class="fs-5 mb-1">Exclude Posts by These Companies:</p>
        <div>
            <ul>
                {% for company in search_settings['exclude_companies'] %}
                <li>{{ company }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>


{% call(data) edit_modal(formURL=url_for('update_search_settings'), title='Edit Search Settings', id='settings-searchSettings', data=search_settings) %}
{# TODO: Add input instructions (comma-separated lists, exact spelling, etc.)) #}
{{ text_input('Search Terms/Phrases', id='search_phrases', name='search_phrases', value=data['search_phrases']|join(', ')) }}
{{ text_input('Exclude Companies', id='exclude_companies', name='exclude_companies', value=data['exclude_companies']|join(', ')) }}

{% endcall %}

{% endblock %}